In [17]:
import pandas as pd

In [18]:
df=pd.read_csv("""C:/Users/Jishnu/Desktop/ViratGrid.csv""")

In [19]:
df.head()

                                         Coordinates
0  <area shape="poly" alt="" coords="179,483, 192...
1  <area shape="poly" alt="" coords="117,163, 117...
2  <area shape="poly" alt="" coords="296,242, 296...
3  <area shape="poly" alt="" coords="181,348, 183...
4  <area shape="poly" alt="" coords="177,685, 170...

In [20]:
df['Coordinates']=df['Coordinates'].str[33:]

In [21]:
df.head()

                                         Coordinates
0  "179,483, 192,483, 192,484, 180,485, 179,483" ...
1  "117,163, 117,178, 116,178, 116,163, 117,163" ...
2  "296,242, 296,258, 295,258, 294,241, 296,242" ...
3  "181,348, 183,357, 181,359, 179,357, 179,348, ...
4  "177,685, 170,680, 177,671, 177,685" href="Poly">

In [22]:
df['Coordinates']=df['Coordinates'].str[:-12]

In [23]:
df.head()

                                         Coordinates
0     "179,483, 192,483, 192,484, 180,485, 179,483"
1     "117,163, 117,178, 116,178, 116,163, 117,163"
2     "296,242, 296,258, 295,258, 294,241, 296,242"
3  "181,348, 183,357, 181,359, 179,357, 179,348, ...
4              "177,685, 170,680, 177,671, 177,685"

In [24]:
df.Coordinates=df.Coordinates.str.strip()

In [25]:
x=[]
x1=[]
y=[]
unit=[]
path=[]
count=0
for i in range(0,len(df)):
    a=df.iloc[i,0].strip('\"')
    a=a.split(",")
    for j in range(0,len(a)):
        if len(a)==1:
            pass
        else:
            if j%2==0:
                x.append(int(a[j]))
                x1.append((int(a[j])))
            else:
                y.append(int(a[j]))
    for k in range(1,len(x1)+1):
        path.append(k)
        unit.append(i+1)
    x1=[]

In [26]:
t=pd.DataFrame({"Xval":x,"Yval":y,"Path":path,"Unit":unit})

In [27]:
t.head(10)

   Xval  Yval  Path  Unit
0   179   483     1     1
1   192   483     2     1
2   192   484     3     1
3   180   485     4     1
4   179   483     5     1
5   117   163     1     2
6   117   178     2     2
7   116   178     3     2
8   116   163     4     2
9   117   163     5     2

In [29]:
t.to_csv("C:/Users/Jishnu/Desktop/ViratGrid1.csv")